/*MOBILE FIRST*/

main#main_perfil {
    display: grid;
    grid-template-columns: auto 90% auto;
}

section#section_busca {
    grid-column: 2;
    background-color: #337d28;
    height: 100vh;
    padding: 10px;
}

div#input_busca {    
    color: white;
}

div#input_busca p {
    margin-left: 10px;
    margin-bottom: 10px;
}

div#input_busca button {
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 20px;
}

input#input {
    margin-left: 10px;
    background-color: #baffa4;
    margin-top: 15px;
    font-size: 1.2em;
    width: 100px;
    border: 0px;
    padding: 4px;
} 


div#resultado {
    margin-top: 40px;
    background-color: white;
    height: 300px;
    box-shadow: 1px 1px 4px black;
}

fieldset#perfil {
    display: flex;
    padding: 10px;
    width: 100%;
}

fieldset#perfil input {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}



