/*MOBILE FIRST*/

main#main_perfil {
    display: grid;
    grid-template-columns: auto 95% auto;
}

section#section_busca {
    grid-column: 2;
    background-color: #337d28;
    min-height: 100vh;
    padding: 10px;
}

/*div de busca*/

div#input_busca {    
    color: white;
}

div#input_busca p {
    margin-left: 10px;
    margin-bottom: 10px;
}

div#input_busca button {
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 20px;
}

input#input {
    margin-left: 10px;
    background-color: #baffa4;
    margin-top: 15px;
    font-size: 1.2em;
    width: 100px;
    border: 0px;
    padding: 4px;
} 

fieldset#perfil {
    display: flex;
    padding: 10px;
    width: 100%;
}

fieldset#perfil input {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

div#infos {
    padding: 20px;    
    margin-top: 40px;
    background-color: #77be66;
    height: auto;
    box-shadow: 1px 1px 4px black;
}


/*Infos Display div*/

div#infos_interno{
    visibility: hidden;
}

div#infos_interno h3 {
    padding-bottom: 30px;
    font-size: 1.8em;
}

div#infos_interno p#informacoes_p {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 20px;
    opacity: 0.8;
}

p.tipo_info {
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.637);
    padding-bottom: 5px;
    padding-top: 10px ;
    font-weight: bolder;
}

p.display_info {
    /*visibility: hidden;*/
    font-size: 1.4em;
}

